.text-l {
  text-align: left;
}

p {
  margin-right: 30px;
}

.display{
  display: flex;
  height: 25px;
}

.langclass {
  text-align: left;
  padding: 5px 0px 5px 10px;   
  border: 1px black solid;                  
}

.container {
  margin: 10px;
  padding: 10px;
}

#id-card {
  display: flex;
  border: 1px black solid;
  margin-top: 20px;
  padding: 7px;
}

#id-card span {
  font-weight: 700;
}

h2 {

  text-align: left;
}

h3 {
  font-size: 16px;
  margin-block-start: 3px;
  margin-block-end: 8px;
  margin-left: 10px;
  font-weight: 300;
}

.CreditCard {
  display: inline-block;
  float: left;
  padding: 20px 30px 20px 30px;
  margin: 0px 20px 20px 0px ;           

}

.CreditCard-img {
  display: flex;
  justify-content: flex-end;
}

.CreditCard-num {
    font-size: 1.8em;
    text-align: center;
    margin: 20px 0;
     height: 30px;
    margin-top: 0px;
    position: relative;
    top: -20px;
}

.CreditCard-dot-num {
  font-size: 1.8em;
  position: relative;
  top: -8px;
}

.boxcolor {
  padding: 20px 100px 20px 100px ;
  border: 1px black solid; 
  color: white;      
  margin: 0px 0px 20px 0px ;           

}

